
 <body class="mainbody">
	<div class="container-fluid" style="padding:15px;">
		<div class="panel panel-danger">
			<div class="panel-heading">管理员列表</div>
			<div class="panel-body">
				<form class="form-horizontal" action="" method="post">
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">管理员名称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" value="{$admin.username}" name="username" id="username" placeholder="名称">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" name="password" id="password" placeholder="密码">
						</div>
					</div>
					<div class="form-group">
						<label for="password2" class="col-sm-2 control-label">确认密码</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" name="password2" id="password2" placeholder="确认密码">
						</div>
					</div>
					{if condition="$adminRole -> toArray() eq true"}
					{foreach $adminRole as $val}
					<div class="form-group" id="roles">
						<label for="role" class="col-sm-2 control-label">角色</label>
						<div class="col-sm-2">
							<div style="margin-bottom:5px;">
								<select class="form-control" name="role[]" style="margin-bottom:2px;">
									<option value="">请选择角色</option>
									{foreach $role as $value}
									{if condition="$val['id'] eq $value['id']"}
									<option value="{$value.id}" selected="selected">{$value.name}</option>
									{else/}
									<option value="{$value.id}">{$value.name}</option>
									{/if}
									{/foreach}
								</select>
								<button class="btn btn-success btn-xs" type="button" onclick="add(this)">添加角色</button>
								<button class="btn btn-danger btn-xs" type="button" onclick="del(this)">删除角色</button>
							</div>
						</div>
					</div>
					{/foreach}
					{else/}
					<div class="form-group" id="roles">
						<label for="role" class="col-sm-2 control-label">角色</label>
						<div class="col-sm-2">
							<div style="margin-bottom:5px;">
								<select class="form-control" name="role[]" style="margin-bottom:2px;">
									<option value="">请选择角色</option>
									{foreach $role as $value}
									<option value="{$value.id}">{$value.name}</option>
									{/foreach}
								</select>
								<button class="btn btn-success btn-xs" type="button" onclick="add(this)">添加角色</button>
								<button class="btn btn-danger btn-xs" type="button" onclick="del(this)">删除角色</button>
							</div>
						</div>
					</div>
					{/if}
					<div class="form-group" id="akali">
						<div class="col-sm-offset-2 col-sm-10">
							<input type="hidden" name="id" value="{$Request.param.id}" />
							<button type="submit" class="btn btn-default">确定</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function add(obj)
		{
			var html = $(obj).parents('#roles').clone();
			html.find('label').html('');
			$('#akali').before(html);
		}
		
		function del(obj)
		{
			var len = $('[name="role[]"]').length;
			if(len <= 1)
			{
				return false;
			}
			
			$(obj).parents('#roles').remove();
		}
	</script>

