<!--content-->

				<div class="responsive_cart">

					<div class="cart_text">

						<div class="row">

							<form class="form-horizontal" role="form">

								<div class="col-sm-12">

									<h4>我的购物车</h4>

									<span>全部商品 </span>

								</div>

								<div class="text_list col-sm-12">

									<div class="col-sm-3">

										<label class="checkbox-inline">

											<input type="checkbox" />全选

										</label>

									</div>

									<div class="col-sm-2">

										<p>数量</p>

									</div>

									<div class="col-sm-2">

										<p>单价</p>

									</div>

									<div class="col-sm-2">

										<p>折扣</p>

									</div>

									<div class="col-sm-3">

										<p>总价</p>

									</div>

								</div>

								<ul>

									<li>

										<div class="text_product col-sm-12">

											<div class="col-sm-3">

												<div class="image">

													<a href="product_center.html"><img class="img-responsive" class="img-responsive" src="__PUBLIC__img/shopping_pic01.png" alt="shopping_pic01" /></a>

												</div>

											</div>

											<div class="col-sm-2">

												<button type="button" disabled="disabled" class="sub pull-left">-</button>

												<input type="text" readonly="readonly" class="num pull-left" value="1" />

												<button type="button" class="add pull-left" >+</button>

											</div>

											<div class="col-sm-2">

												<p>

													<span>¥</span>&nbsp;

													<i class="singleprice">213.00</i>

												</p>

											</div>

											<div class="col-sm-2">

												<p class="discount">8.5</p>

											</div>

											<div class="text_price col-sm-3">

												<p>

													<span>¥</span>&nbsp;

													<i class="totalprice">149.00</i>

												</p>

												<button type="button" id="delete">删除</button>

											</div>

										</div>

									</li>

									<li>

										<div class="text_product col-sm-12">

											<div class="col-sm-3">

												<div class="image">

													<a href="product_center.html"><img class="img-responsive" class="img-responsive" src="__PUBLIC__img/shopping_pic02.png" alt="shopping_pic02" /></a>

												</div>

											</div>

											<div class="col-sm-2">

												<button type="button" disabled="disabled" class="sub pull-left">-</button>

												<input type="text" class="num pull-left" readonly="readonly" value="1" />

												<button type="button" class="add pull-left">+</button>

											</div>

											<div class="col-sm-2">

												<p>

													<span>¥</span>&nbsp;

													<i class="singleprice">213.00</i>

												</p>

											</div>

											<div class="col-sm-2">

												<p class="discount">8.5</p>

											</div>

											<div class="text_price col-sm-3">

												<p>

													<span>¥</span>&nbsp;

													<i class="totalprice">149.00</i>

												</p>

												<button type="button" id="delete">删除</button>

											</div>

										</div>

									</li>

								</ul>

							</form>

						</div>

					</div>

					<div class="xs_cart">

						<div class="row">

							<form class="form-horizontal" role="form">

								<div class="col-xs-12">

									<h4>我的购物车</h4>

								</div>

								<div class="text_list col-xs-12">

									<div class="col-xs-4">

										<span>全部商品 </span>

									</div>

									<div class="col-xs-3">

										<p>单价</p>

									</div>

									<div class="col-xs-2">

										<p>折扣</p>

									</div>

									<div class="col-xs-3">

										<p>操作</p>

									</div>

								</div>

								<ul>

									<li>

										<div class="text_product col-xs-12">

											<div class="col-xs-4">

												<div class="image">

													<a href="product_center.html"><img class="img-responsive" class="img-responsive" src="__PUBLIC__img/shopping_pic01.png" alt="shopping_pic01" /></a>

												</div>

											</div>

											<div class="col-xs-3">

												<p>

													<span>¥</span><i>213.00</i>

												</p>

											</div>

											<div class="col-xs-2">

												<p>8.5</p>

											</div>

											<div class="col-xs-3">

												<button type="button" id="delete">删除</button>

											</div>

										</div>

									</li>

									<li>

										<div class="text_product col-xs-12">

											<div class="col-xs-4">

												<div class="image">

													<a href="product_center.html"><img class="img-responsive" class="img-responsive" src="__PUBLIC__img/shopping_pic02.png" alt="shopping_pic02" /></a>

												</div>

											</div>

											<div class="col-xs-3">

												<p>

													<span>¥</span><i>213.00</i>

												</p>

											</div>

											<div class="col-xs-2">

												<p>8.5</p>

											</div>

											<div class="col-xs-3">

												<button type="button" id="delete">删除</button>

											</div>

										</div>

									</li>

								</ul>

							</form>

						</div>

					</div>

				</div>

				<div class="checkout">

					<label class="checkbox-inline">

						<input type="checkbox" />全选

					</label>

					<button class="pull-right" type="button" onclick="window.location.href='Confirm_order.html'">立即结账</button>

					<span class="pull-right">¥<i class="AllPrice">149.00</i></span>

					<p class="pull-right">商品总金额（不含运费）：</p>

				</div>

				<div class="xs_checkout">

					<label class="checkbox-inline">

						<input type="checkbox" />全选

					</label>

					<div class="pull-right">

						<p>商品总金额（不含运费）</p>

						<span>¥<i class="AllPrice">149.00</i></span>

						<button type="button" onclick="window.location.href='Confirm_order.html'">立即结账</button>

					</div>

				</div>

			</div>
		</div>

		<!--content end-->
